<a href="https://colab.research.google.com/github/boomitsheth/Reservoir-Engineering-Handbook-/blob/master/Chapter%204%20/Chapter_4_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example 4.1 Calculate the initial oil in place

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import math

In [ ]:
#given 
reservoir_area = 640 #acres 
thickness = 10 #ft 
Swc = 0.25
porosity = 0.15
API = 42 #degree 
Pb = 3000 #psia 
temp = 160 #Fdegree 
Sg_gas = 0.65 
Rs = 600 #gasoilratio

Sg_oil = (141.5 / (API +131.5))
print ("Specific Gravity of the stock tank oil is", Sg_oil)

#using standing equation to calculate the initial oil formation volume factor 
Bo = 0.9759 + (0.00012 * math.pow((Rs * math.pow((Sg_gas / Sg_oil) ,0.5 )) + (1.25 * (temp)),1.2))
print ("Intial oil formation volume factor", Bo) 

#calculate pore volume in bbls

PV = 7758 * reservoir_area * thickness * porosity 
print (" Pore Volume is", PV)

#calculate the initial oil in place 

OIIP = PV * ((1 - Swc) / Bo )
print ("Oil initially in place =",OIIP)

Specific Gravity of the stock tank oil is 0.8155619596541787
Intial oil formation volume factor 1.3064105158492043
 Pore Volume is 7447680.0
Oil initially in place = 4275654.499282024

# Example 4.2

In [ ]:
'Calculate the arithmetic average and thickness weighted average porosity'
table= pd.read_csv("F:\Tarek Ahmed Reservoir Engineering Data\Chapter 4 Fundamental of Rock Properties\example4.2.csv")
table

   Sample   Thickness  Porosity
0        1        1.0         10
1        2        1.5         12
2        3        1.0         11
3        4        2.0         13
4        5        2.1         14
5        6        1.1         10

In [ ]:
#Airthmetic Average Porosity 
table["Porosity "].mean()

11.666666666666666

In [ ]:
#Thickness Weighted Average Posority 
WAP = (table["Porosity "] * table["Thickness"]).sum() / table["Thickness"].sum()
WAP

12.114942528735634

# Example 4.3

In [ ]:
data= pd.read_csv("F:\Tarek Ahmed Reservoir Engineering Data\Chapter 4 Fundamental of Rock Properties\example4.3.csv")
data

   sample   Hi  porosity   Sor  Swcr
0       1  1.0         10   75    24
1       2  1.5         12   77    23
2       3  1.0         11   79    21
3       4  2.0         13   74    26
4       5  2.1         14   78    22
5       6  1.1         10   75    25

In [ ]:
data['hiporosity'] = data['Hi'] * ( data['porosity '] / 100 )
data['SoHiPor'] = ( data['Sor'] / 100 ) * data['hiporosity']
data['Swc*HiPor'] = ( data['Swcr'] / 100 ) * data['hiporosity']
x= data['hiporosity'].sum()
y= data['SoHiPor'].sum()
z= data['Swc*HiPor'].sum()
data

   sample   Hi  porosity   Sor  Swcr  hiporosity  SoHiPor  Swc*HiPor
0       1  1.0         10   75    24       0.100  0.07500    0.02400
1       2  1.5         12   77    23       0.180  0.13860    0.04140
2       3  1.0         11   79    21       0.110  0.08690    0.02310
3       4  2.0         13   74    26       0.260  0.19240    0.06760
4       5  2.1         14   78    22       0.294  0.22932    0.06468
5       6  1.1         10   75    25       0.110  0.08250    0.02750

In [ ]:
#Calculate Average Oil Saturation 
So= y/ x 
So

0.7634914611005693

In [ ]:
# Calculate Average Water Saturation 
S